@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

body {
  font-family: "Cabin", sans-serif; /* Fallback font */
  background-color: #758190;
}

#tentacles {
  width: 50px;
}

.header {
  display: flex;
  background-color: #3498db; /* Update to a more vibrant color */
  padding: 1%;
  align-items: center;
  margin: -10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add subtle box shadow */
}

.stats-container {
  display: flex;
  background-color: #f0f0f0; /* Light background color */
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px; /* Add padding for spacing */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add subtle box shadow */
}

.stats-container:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #3498db; /* Update hover box shadow color */
}

.stats-card {
  background-color: #a8b0bc;
  border-radius: 7px;
  padding: 1%;
  margin: 1%;
  width: 100%;
  text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
  font-size: 50px;
  font-weight: 600;
}

#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #ffffff;
}

.game-card {
  background-color: #f9f9f9; /* Lighter background color */
  padding: 2%;
  margin: 1%;
  width: 300px;
  text-align: center;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add subtle box shadow */
}

.game-card:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #3498db; /* Update hover box shadow color */
}

#button-container {
  text-align: center;
}

button {
  font-family: "Cabin";
  border: none;
  padding: 1%;
  margin: 1%;
  border-radius: 7px;
}
